<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/general.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
        <link rel="shortcut icon" href="../../img/logo/icon-web-page.png">
        <script src="../../js/general.js"></script>
        <title>Página Inicail | Molfedd</title>
    </head>
    <body onload="startPage()">
        <header>
            <div class="body">
                <div class="body-center">
                    <div class="header-div">
                        <div id="menu-link-mob">
                            <button id="button-open" onclick="openMenu()">
                                <span class="material-icons" title="Fechar menu">menu</span>
                            </button>
                            <figure>
                                <a href="home.html" title="Página inicial">
                                    <img src="../../img/logo/logo1.png">
                                </a>
                            </figure>
                            <div id="menu-link-mob-nav">
                                
                                <nav>
                                    <button onclick="closeMenu()"><span class="material-icons">close</span></button>
                                    <br>
                                    <a href="home.html" title="Página inicial">INÍCIO</a>
                                    <a href="variety.html" title="Variedades">VARIEDADES</a>
                                    <a href="material.html" title="Material & Jogos">MATERIAIS & JOGOS</a>
                                    <a href="about.html" title="Quem somos">QUEM SOMOS</a> 
                                    <br>
                                    <a href="../../index.html" title="Voltar ao portal">VOLTAR AO PORTAL</a>   
                                </nav>
                                <br>
                            </div>
                        </div>
                        <div id="header-logo">
                            <figure id="logo-page">
                                <a href="home.html" title="Ir para página inicial">
                                    <img alt="logo-molfedd" src="../../img/logo/logo1.png">
                                </a>
                            </figure>
                        </div>
                        <div id="menu-link">
                            <nav>
                                <a href="home.html" title="Página inicial">INÍCIO</a>
                                <a href="variety.html" title="Variedades">VARIEDADES</a>
                                <a href="material.html" title="Material & Jogos">MATERIAIS & JOGOS</a>
                                <a href="about.html" title="Quem somos">QUEM SOMOS</a>    
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr>
        <div class="body-center div-path">
            <a class="a-path" href="home.html"><span class="path text_indent0">Página inicial</span></a>
        </div>
        <hr>
        
        <div id="body">
            <div class="body-div">
                <div class="div-main">
                    <main>
                        <article>
                            <section>
                                <h1>Bem-vindo ao Molfedd!</h1>
                                <br>
                                <br>
                                <p>
                                    O <a href="#">Molfedd</a> é um ambiente <i>online</i> desenvolvido para você despertar a sua imaginação e explorar novos mundos, viver aventuras sureais e ser quem você quiser, onde e quando você quiser, em um espaço completo e seguro em constante aperfeiçoamento para proporcionar a melhor experiência possível.
                                </p>
                                <p>
                                    Veja o que você pode encontrar por aqui...
                                </p>
                            </section>
                            <section>
                                <div class="topic">
                                    <div class="title-topic">
                                        <figure>
                                            <img src="../../img/icones/marcador1.png">
                                        </figure>
                                        <h2>Conheça nossos mundos</h2>
                                    </div>
                                    <figure class="figure-topic">
                                        <img class="w600" alt="Estandarte de mundos - Molfedd Create" src="../../img//topics/locais.png">
                                    </figure>
                                    <div class="text-topic">
                                        <p>
                                            Dentro do Molfedd existe uma vasta variedade de mundos à sua espera e prontos para que você os conheça e, talvez, venha a fazer integrá-lo.
                                        </p>
                                        <p>
                                            Cada um desses mundos possui suas regras, governos, funcionamentos e caracteríscicas únicas, que podem te conduzir a grandes aventuras.
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="topic">
                                    <div class="title-topic">
                                        <figure>
                                            <img src="../../img/icones/marcador1.png">
                                        </figure>
                                        <h2>Explore nossos mapas para jogos</h2>
                                    </div>
                                    <figure class="figure-topic">
                                        <img class="w600" alt="Mapas - Molfedd Create" src="../../img/topics/mapas.png">
                                    </figure>
                                    <div class="text-topic">
                                        <p>
                                            Utilize nossos mapas pré-criados e facilite o seu jogo, aproveitando o conteúdo e as circunstâncias pré-estabelecidas por ele e passivas às suas próprias alterações, a fim de tornar fazer com que fique com a sua cara.
                                        </p>
                                        <p>
                                            O mapas estão disponíveis tanto para jogos e uma versão digital está em faze de desenvolvimento, para que você jogue à distância sem dificuldades e com a mesma qualidade do presencial.
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="topic">
                                    <div class="title-topic">
                                        <figure>
                                            <img src="../../img/icones/marcador1.png">
                                        </figure>
                                        <h2>Faça parte da nossa comunidade</h2>
                                    </div>
                                    <figure class="figure-topic">
                                        <img class="w600" alt="Chat interativo - Molfedd Create" src="../../img/topics/interação.png">
                                    </figure>
                                    <div class="text-topic">
                                        <p>
                                            Interaja com os demais usuário do ambiente por meio de uma <i>Chat</i> interativo, onde poderão compartilhar experiências, conhecimentos e imergir cada ver mais no Molfedd.
                                        </p>
                                        <p>
                                            O nosso <i>Chat</i> é bastante simples de utilizar e não requer fazer login para utilizar, bastando acessar e interagir com os demais em um ambiente seguro e monitorado.
                                        </p>
                                        <p>
                                            Começe agora mesmo!
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="topic">
                                    <div class="title-topic">
                                        <figure>
                                            <img src="../../img/icones/marcador1.png">
                                        </figure>
                                        <h2>Entenda como tudo funciona</h2>
                                    </div>
                                    <figure class="figure-topic">
                                        <img class="w600" alt="Estudo os mundos - Molfedd Create" src="../../img/topics/personagem.png">
                                    </figure>
                                    <div class="text-topic">
                                        <p>
                                            Aqui você terá acesso a diversos tipos de conteúdos para que conheças os mais distintos aspectos dos nossos mundos, persongens, governos, magias, regras, história e muito mais, para que assim a sua experiência venha a se tornar cada vez mais completa.
                                        </p>
                                        <p>
                                            Os conteúdos que disponibilizamos incluem textos, imagens, narrativas, videos, livros e demais materiais, dispobilizados em versões compátiveis para os principais tipos de dispositivos e sistemas operacionais.
                                        </p>
                                        <p>
                                            Além disso, para que você possa utiliza-lo em qualquer lugar sem dificuldade, disponibilizamos gratuitameinte todos conteúdos para Download permanentemente.
                                        </p>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="topic">
                                    <div class="title-topic">
                                        <figure>
                                            <img src="../../img/icones/marcador1.png">
                                        </figure>
                                        <h2>Faça parte do Molfedd</h2>
                                    </div>
                                    <figure class="figure-topic">
                                        <img class="w600" alt="Personagem - Molfedd Create" src="../../img/topics/criar-conta.png">
                                    </figure>
                                    <div class="text-topic">
                                        <p>
                                            Além de conheçer, você pode fazer parte de tudo isso e criar seu próprio personagem dentro das delimitações especificadas pelo Molfedd e pertencer a uma das espécies, dimensões, classes e ordens que dispomos, determinar suas características físicas, mágicas e psicológicas, criar sua própria história e fazer parte da nossa história.
                                        </p>
                                        <p>
                                            Se o seu personagem estiver de pleno acordo com o esperado pelo Molfedd, ele será integrado aos personagens que integram a história do Molfedd e ficarão dispostos permanentemente aqui no nosso site.
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </article>
                    </main>
                    <section>
                        <h3 class="supportes-title">Apoio:</h3>
                        <div class="supporters">
                            <figure>
                                <img src="../../img/logo/venntec - tecnologia e desenvolvimento.png" alt="">
                            </figure>
                            <figure>
                                <img src="../../img/logo/instituto venntec.png" alt="">
                            </figure>
                            <figure>
                                <img src="../../img/logo/instituto corvidae.png" alt="">
                            </figure>
                        </div>
                    </section>
                    <div class="updatedate">
                        <p>Atualizado em XX de Mês de Ano.</p>
                        <p>Cidade - UF</p>
                    </div>
                </div>
                <div class="div-aside">
                    <aside>
                        <div id="news">
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <a href="#" id="btn-up">
            <span class="material-icons" id="up-icon">expand_less</span>
        </a>

        <br>
        <br>

        <hr>
        <br>

        <footer>
            <div id="footer">
                <div id="footer-div">
                    <div id="footer-block">
                        <div id="footer-txt">
                            <div class="a-footer" id="link-footer">
                                <a class="footer-a" href="about.html">Sobre</a>
                                <a class="footer-a" href="terms/terms.html">Termos</a>
                                <a class="footer-a" href="terms/privacy.html">Privacidade</a>
                                <a class="footer-a" href="terms/security.html">Segurança</a>
                                <a class="footer-a" href="terms/advertising.html">Publicidade</a>
                            </div>
                            <div id="information-footer" class="information-footer">
                            </div>
                        </div>
                        <div id="footer-sm">
                        </div>
                    </div>
                    <hr>
                    <p class="copy">&copy; Molfedd, <span id="copyyear"></span>. Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
    <script src="../../js/jquery-3.6.0.js"></script>
</html>