<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastro de usuário | Molfedd</title>
        <link rel="stylesheet" type="text/css" href="../../css/general.css">
        <link rel="stylesheet" type="text/css" href="../../css/form.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <br>
        <br>
        <br>
        <div id="particles-js">
            <div class="body-div-block" id="form-login">
                <main>
                    <form method="post">
                        <a href="home.html">
                            <figure class="center">
                                <img src="../../img/logo2.png">
                            </figure>
                        </a>
                        <legend class="center">Cadastro de Usuário:</legend>
                        <br>
                        <br>
                        <fieldset>
                            <label for="email-u">E-mail:</label><br>
                            <input type="email" class="login" id="email-u" name="email" placeholder="exemplo@exemplo.com" required>
                        </fieldset>
                        <br>
                        <br>
                        <fieldset>
                            <label for="senha-u">Senha:</label><br>
                            <input type="password"  class="login" id="senha-u" name="senha" placeholder="Senha" required>
                        </fieldset>
                        <br>                        
                        <br>
                        <br>
                        <button class="bt-form" id="submit" type="submit">Entrar</button>
                        <br>
                        <br>
                        <p class="center size-10 txt-tahoma">&copy; Molfedd, 2021. Todos os direitos reservados.</p>
                    </form>
                </main>
            </div>
            <div id="alert">Mensagem do sistema.<button class="material-icons">close</button></div>
            <br>
            <br>
        </div>

        <a href="#" id="btn-up">
            <span class="material-icons" id="up-icon">expand_less</span>
        </a>

        <br>
        <br>
    </body>
    <script src="../../js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../../js/particles.min.js"></script>
    <script type="text/javascript" src="../../js/app.js"></script>
    <!-- <script src="../../js/particlesjs-config.json"></script> -->
</html>