<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/general.css">
        <link rel="stylesheet" type="text/css" href="../../css/variety.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
        <link rel="shortcut icon" href="../../img/logo/icon-web-page.png">
        <script src="../../js/general.js"></script>
        <title>Variedades | Molfedd</title>
    </head>
    <body onload="startPage()">
        <header>
            <div class="body">
                <div class="body-center">
                    <div class="header-div">
                        <div id="menu-link-mob">
                            <button id="button-open" onclick="openMenu()">
                                <span class="material-icons" title="Fechar menu">menu</span>
                            </button>
                            <figure>
                                <a href="home.html" title="Página inicial">
                                    <img src="../../img/logo/logo1.png">
                                </a>
                            </figure>
                            <div id="menu-link-mob-nav">
                                
                                <nav>
                                    <button onclick="closeMenu()"><span class="material-icons">close</span></button>
                                    <br>
                                    <a href="home.html" title="Página inicial">INÍCIO</a>
                                    <a href="variety.html" title="Variedades">VARIEDADES</a>
                                    <a href="material.html" title="Material & Jogos">MATERIAIS & JOGOS</a>
                                    <a href="about.html" title="Quem somos">QUEM SOMOS</a> 
                                    <br>
                                    <a href="../../index.html" title="Voltar ao portal">VOLTAR AO PORTAL</a>   
                                </nav>
                                <br>
                            </div>
                        </div>
                        <div id="header-logo">
                            <figure id="logo-page">
                                <a href="home.html" title="Ir para página inicial">
                                    <img alt="logo-molfedd" src="../../img/logo/logo1.png">
                                </a>
                            </figure>
                        </div>
                        <div id="menu-link">
                            <nav>
                                <a href="home.html" title="Página inicial">INÍCIO</a>
                                <a href="variety.html" title="Variedades">VARIEDADES</a>
                                <a href="material.html" title="Material & Jogos">MATERIAIS & JOGOS</a>
                                <a href="about.html" title="Quem somos">QUEM SOMOS</a>    
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr>
        <div class="body-center div-path">
            <a class="a-path" href="home.html"><span class="path text_indent0">Página inicial</span></a>
            <a class="a-path" href="variety.html">> <span class="path text_indent0">Variedades</span></a>
        </div>
        <hr>
        
        <div id="body">
            <div class="body-div">
                <div class="div-main">
                    <main>
                        <article>
                            <section>
                                <h1>Variedades</h1>
                                <br>
                                <br>
                                <p>
                                    Que tal começar a explorar nossos mundos?
                                </p>
                                <p>
                                    Aqui você vai poder conhecer os personagens já criados, os mundos/dimensões, os lugares que existem dentro e fora desses mundos, a história desde o início e entenda tudo sobre a magia e seus portadores.
                                </p>
                                <p>
                                    Encontre seu mundo, se inspire nos nossos personagens, crie os seus personagens e faça parte da nossa comunidade.
                                </p>
                                <p>
                                    Isso tudo foi criado para você ;)
                                </p>
                            </section>
                            <section>
                                <div class="variety-grid">
                                    <a class="item-a" href="#" title="">
                                        <div class="item-div">
                                            <figure>
                                                <img src="../../img/simbolos/personagens.png">
                                            </figure>
                                            <div class="content">
                                                <h2>Personagens</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="item-a" href="#" title="">
                                        <div class="item-div">
                                            <figure>
                                                <img src="../../img/simbolos/mundos.png">
                                            </figure>
                                            <div class="content">
                                                <h2>Mundos</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="item-a" href="#" title="">
                                        <div class="item-div">
                                            <figure>
                                                <img src="../../img/simbolos/lugares.png">
                                            </figure>
                                            <div class="content">
                                                <h2>Lugares</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="item-a" href="#" title="">
                                        <div class="item-div">
                                            <figure>
                                                <img src="../../img/simbolos/história.png">
                                            </figure>
                                            <div class="content">
                                                <h2>História</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="item-a" href="#" title="">
                                        <div class="item-div">
                                            <figure>
                                                <img src="../../img/simbolos/magia.png">
                                            </figure>
                                            <div class="content">
                                                <h2>Magia</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="item-a" href="#" title="">
                                        <div class="item-div">
                                            <figure>
                                                <img src="../../img/simbolos/interação.png">
                                            </figure>
                                            <div class="content">
                                                <h2>Comunidade</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </section>
                        </article>
                    </main>
                    <div class="updatedate">
                        <p>Atualizado em 05 de Março de 2022.</p>
                        <p>Brasília - DF</p>
                    </div>
                </div>
                <div class="div-aside">
                    <aside>
                        <div id="news">
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <a href="#" id="btn-up">
            <span class="material-icons" id="up-icon">expand_less</span>
        </a>

        <br>
        <br>

        <hr>
        <br>

        <footer>
            <div id="footer">
                <div id="footer-div">
                    <div id="footer-block">
                        <div id="footer-txt">
                            <div class="a-footer" id="link-footer">
                                <a class="footer-a" href="about.html">Sobre</a>
                                <a class="footer-a" href="terms/terms.html">Termos</a>
                                <a class="footer-a" href="terms/privacy.html">Privacidade</a>
                                <a class="footer-a" href="terms/security.html">Segurança</a>
                                <a class="footer-a" href="terms/advertising.html">Publicidade</a>
                            </div>
                            <div id="information-footer" class="information-footer">
                            </div>
                        </div>
                        <div id="footer-sm">
                        </div>
                    </div>
                    <hr>
                    <p class="copy">&copy; Molfedd, <span id="copyyear"></span>. Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
    <script src="../../js/jquery-3.6.0.js"></script>
</html>