<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Todos os recursos | Molfedd</title>
        <link rel="stylesheet" type="text/css" href="../../../css/general.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="header">
                <div id="header-div">
                    <div id="logo-img-div">
                        <a href="../home.html">
                            <figure>
                                <img class="mw-cem" alt="Logo" src="../../../img/logo1.png">
                            </figure>
                        </a>
                    </div>
                    <div id="menu-div">
                        <nav>
                            <a class="link-menu" href="../home.html">INÍCIO</a>
                            <a class="link-menu" href="../variety.html">VARIADADES</a>
                            <a class="link-menu" href="../material.html">JOGOS & MATERIAIS</a>
                            <a class="link-menu" href="../join.html">PARTICIPAR</a>
                            <a class="link-menu" href="../about.html">QUEM SOMOS</a>

                            <button id="bt-open-menu" class="material-icons" onclick="openMenu()">menu</button>
                            <div id="mob-menu">
                                <button class="material-icons" id="bt-close-menu" onclick="closeMenu()">close</button>
                                <hr>
                                <a class="link-menu-m" href="../home.html">INÍCIO</a>
                                <a class="link-menu-m" href="../variety.html">VARIADADES</a>
                                <a class="link-menu-m" href="../material.html">JOGOS & MATERIAIS</a>
                                <a class="link-menu-m" href="../join.html">PARTICIPAR</a>
                                <a class="link-menu-m" href="../about.html">QUEM SOMOS</a>
                                <br>
                                <hr>
                                <a class="link-menu-m" href="../../../index.html">RETORNAR AO PORTAL</a>
                            </div>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </header>

        <hr>
        <div class="div-path">
            <a class="a-path" href="../home.html"><p class="path text_indent0">Página inicial</p></a>
            <a class="a-path" href="#"><p class="path text_indent0"><img src="../../../img/marcador_path.png"> Todos os recursos</p></a>
        </div>
        <hr>

        <br>
        <br>
        <br>
        
        <div id="body">
            <div id="body-div">
                <div class="body-div-block">
                    <div class="colunm body-block-lm">
                        <div class="body-lm">
                            <div class="body-block-link">
                                <a href="../../../index.html">
                                    <figure class="fig-center">
                                        <img class="w-max" alt="logo" src="../../../img/portal.png">
                                    </figure>
                                </a>
                                <hr>
                                <br>
                                <div class="block-lg-rs">
                                    <p class="text_indent0 center">
                                        ENCONTRE-NOS
                                    </p>
                                </div>
                                <br>
                                <div id="block-link-rs block-flex">
                                    <a href="#">
                                        <figure class="fig-rs">
                                            <img alt="facebook" class="img-rs" src="../../../img/icones/facebook-icon.png">
                                        </figure>
                                    </a>
                                    <a href="#">
                                        <figure class="fig-rs">
                                            <img alt="instagram"  class="img-rs" src="../../../img/icones/instagram-icon.png">
                                        </figure>
                                    </a>
                                    <a href="#">
                                        <figure class="fig-rs">
                                            <img alt="e-mail" class="img-rs" src="../../../img/icones/email-icon.png">
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="body-block-main">
                                <main>
                                    <section>
                                        <h1>TODOS OS RECURSOS</h1>
                                        <div id="marc-line"></div>
                                        <br>
                                        <br>
                                        <br>
                                    </section>
                                    <br>
                                    <br>
                                    
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                                    <p class="size-10">Atualizado em: 24 de junho de 2021</p>
                                    <p class="size-10">Molfedd, Brasil</p>
                                </main>
                            </div>
                        </div>
                    </div>
                    <div class="colunm body-block-aside">
                        <aside>
                            <figure class="fig-center">
                                <img alt="conta" src="../../../img/person.png">
                            </figure>
                            <br>
                            <h3 class="center">Você já possui uma conta no Molfedd?</h3>
                            <br>
                            <p class="justify">
                                Com uma conta você poderá interagir com os demais usuários, bem como criar seu próprio personagem e se descobrir como parte destes mundos.
                            </p>
                            <br>
                            <a class="btn center" href="../account.html">CRIAR CONTA</a>
                            <br>
                            <a class="btn center" href="../login.html">ENTRAR</a>
                            <br>
                            <br>
                            <br>
                            <section>
                                <a href="new.php">
                                    <div class="link-right">
                                        <p>
                                            Novidades
                                        </p>
                                    </div>
                                </a>
                                <br>
                                <a href="newspaper.php">
                                    <div class="link-right">
                                        <p>
                                            Jornal Molfedd
                                        </p>
                                    </div>
                                </a>
                                <br>
                                <a href="resources.html">
                                    <div class="link-right">
                                        <p>
                                            Todos os recursos
                                        </p>
                                    </div>
                                </a>
                                <br>
                                <a href="guide.html">
                                    <div class="link-right">
                                        <p>
                                            Guia do usuário
                                        </p>
                                    </div>
                                </a>
                                <br>
                                <a href="contact.html">
                                    <div class="link-right">
                                        <p>
                                            Fale conosco
                                        </p>
                                    </div>
                                </a>
                                <br>
                                <a href="feedback.php">
                                    <div class="link-right">
                                        <p>
                                            Feedback
                                        </p>
                                    </div>
                                </a>
                                <br>
                            </section>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" id="btn-up">
            <span class="material-icons" id="up-icon">expand_less</span>
        </a>

        <br>
        <br>

        <hr>
        <br>

        <footer>
            <div id="footer">
                <div id="footer-div">
                    <div id="footer-block">
                        <div id="footer-txt">
                            <div class="a-footer">
                                <a class="footer-a" href="../about.html">Sobre</a>
                                <a class="footer-a" href="../terms/terms.html">Termos</a>
                                <a class="footer-a" href="../terms/privacy.html">Privacidade</a>
                                <a class="footer-a" href="../terms/security.html">Segurança</a>
                                <a class="footer-a" href="../terms/advertising.html">Publicidade</a>
                            </div>
                            <br>
                            <p>INSTITUTO VENNTEC DE TECNOLOGIA</p>
                            <br>
                            <p>MOLFEDD</p>
                            <p>Rua Gorbi Oufred Nº 105, Centro, Ventário - Cap., 0000001 - CVC: 039485-000293-00001</p>
                            <p>E-Mail: atendimento@molfedd.vnt.org</p>
                        </div>
                        <div id="footer-img">
                            <a href="#">
                                <figure class="fig-rs">
                                    <img alt="facebook" class="img-rs" src="../../../img/icones/facebook-icon.png">
                                </figure>
                            </a>
                            <a href="#">
                                <figure class="fig-rs">
                                    <img alt="instagram"  class="img-rs" src="../../../img/icones/instagram-icon.png">
                                </figure>
                            </a>
                            <a href="#">
                                <figure class="fig-rs">
                                    <img alt="e-mail" class="img-rs" src="../../../img/icones/email-icon.png">
                                </figure>
                            </a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <p>&copy; Molfedd, 2021. Todos os direitos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
    <script src="../../js/jquery-3.6.0.js"></script>
    <script src="../../js/menu-ctrl.js"></script>
</html>